$_gradient-background: linear-gradient(130deg, #E66586 0, #F09459 100%);
$_black: hsl(0, 0%, 0%);
$_white: hsl(0, 0%, 100%);
$_mauvelous: hsl(349, 72%, 76%);
$_sonic-silver: hsl(0, 0%, 47%);
$_raisin-black: hsl(0, 0%, 13%);
$_ghost-white: hsl(240, 100%, 99%);