//general
$dark: $_black;
$light: $_white;

//button
$btn-bg: $_gradient-background;

//header
$header-bg: $_gradient-background;

//features
$features-bg: $light;
$features-icon-color: $_mauvelous;
$features-title-color: $_raisin-black;
$features-text-color: $_sonic-silver;

//services
$services-bg: $_gradient-background;