@import './variables';

$features-icon-font-size: $m-font-size;

$features-title-font-size: $x-s-font-size;
$features-title-font-weight: $l-font-weight;

$features-text-font-size: $x-s-font-size;
$features-text-font-weight: $s-font-weight;