@import './variables';
//title
$header-title-font-size: $xl-font-size;
$header-title-font-weight: $l-font-weight;

//subtitle
$header-subtitle-font-size: $x-s-font-size;
$header-subtitle-font-weight: $s-font-weight;