@import './variables';

$info-icon-font-size: $m-font-size;

$info-title-font-size: $s-font-size;
$info-title-font-weight: $s-font-weight;

$info-text-font-size: $xs-font-size;
$info-text-font-weight: $s-font-weight;

$info-input-font-size: $xs-font-size;
$info-input-font-weight: $s-font-weight;