@import './variables';

$newsletter-title-font-size: $m-font-size;
$newsletter-title-font-weight: $l-font-weight;

$newsletter-text-font-size: $x-s-font-size;
$newsletter-text-font-weight: $s-font-weight;

$newsletter-input-font-size: $xs-font-size;
$newsletter-input-font-weight: $s-font-weight;