@import './variables';

$services-icon-font-size: $m-font-size;

$services-title-font-size: $m-font-size;
$services-title-font-weight: $l-font-weight;

$services-text-font-size: $x-s-font-size;
$services-text-font-weight: $s-font-weight;


$services-item-title-font-size: $x-s-font-size;
$services-item-title-font-weight: $l-font-weight;

$services-item-text-font-size: $x-s-font-size;
$services-item-text-font-weight: $s-font-weight;