@import './variables';

$untold-title-font-weight: $l-font-weight;
$untold-text-font-weight: $s-font-weight;

$untold-middle-title-font-size: $xs-font-size;
$untold-middle-text-font-size: $x-s-font-size;
