/************************** FOOTER **************************/
.footer-container {
    border: 1px dashed rgba(0,0,0,0);
  
    .container {
      height: 60px;
      background: rgba(0,0,0,.2);
      flex-direction: column;
  
      .nav-container, .text-container {
        display: flex; flex: 1;
        width: 100%; 
      }
  
      .nav-container {
        .logo {
          display: flex;
          flex: 2;
          background-image: url('../../images/logo.png');
          background-repeat: no-repeat;
          background-position: center;
        }
  
        .copyright {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex: 8;
          flex-direction: column;
          transform-origin: right;
          color: $light;
          padding-top: 10px;

          font: {
            size: 14px;
            weight: 300;
          }
  
          .special, i, a {
            color: $footer-special;
            margin: 0 5px;
          }
  
          .special:hover {cursor: pointer;}

          .second-row {
            margin-top: -30px;
            margin-bottom: 5px;
          }
        }
        
        .social {
          display: flex; 
          flex: 1;

          .facebook, .twitter, .medium, .gplus {
            i {
              color: rgba(255,255,255,.8);
              margin: 0 3px;
              font-size: 13px;
              border: 1px solid rgba(255,255,255,.4);
              width: 30px; height: 30px;
              @extend .flex-center;
              transition: all .3s ease;
  
              &:hover {
                cursor: pointer;
                border: none;
                background: $_gradient-background;
              }
            }
          }
        }
      }
    }
  }
  /************************** /FOOTER **************************/