/************************** HEADER **************************/
//import colors
@import '../modules/all';

header {
    border: 1px dashed hsla(0, 0%, 0%, 0);//don't delete
  
    .container {
      height: 600px;
      margin-top: 100px;
      background: $header-bg;
      flex-direction: column;
  
      nav {
        display: grid;
        grid-template-columns: 2fr 130px 30px;
        width: 100%;
  
        .logo {
          display: grid;
          grid-template-columns: 1fr;
          padding: 20px;
          
          img {
            max-width: 100%;
          }
        }
  
        .items {
          display: flex;
          flex: 9;
          justify-content: flex-end;
          align-items: center;
          transform-origin: right;
          transform: scale(0);
          animation: animateItems .3s forwards;

          li {
            float: left;
            padding-right: 35px;

            a {
              text-transform: uppercase;
              color: hsla(0, 0%, 100%, 0.8);
              transition: all .2s ease;
              font: {
                size: 13px; 
                weight: 300;
              }

              &:hover {
                color: $light;
              }
            }
          }
        }
  
        .animateItems {animation: animateItemsR .3s forwards;}
  
        @keyframes animateItems {
          0% {transform: scale(1)}
          100% {transform: scale(0)}
        }
  
        @keyframes animateItemsR {
          0% {transform: scale(0)}
          100% {transform: scale(1)}
        }
  
        .burger {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: flex-end;
          padding-right: $xs-font-size;
  
          i {
            font-size: $s-m-font-size;
            color: $light;
  
            &:hover {cursor: pointer;}
          }
  
          .burger-x {position: absolute;}
        }
      }
  
      .header-content {
        display: flex;
        flex: 6;
        width: 100%; 
  
        .text-container { 
          display: flex; 
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: $s-m-font-size;
  
          .title {
            h1 {
              text-align: center;
              color: $light;
              font: {
                size: $header-title-font-size;
                weight: $header-title-font-weight;
              }
            }
          }
  
          .subtitle {
            h2 {
              color: $light;
              font: {
                size: $header-subtitle-font-size;
                weight: $header-subtitle-font-weight;
              }
            }
          }
        }
  
        .btn {
          background: none;
  
          &:hover {
            cursor: pointer;
            border: 1px solid hsla(0, 0%, 100%, 0);
            background: $btn-bg;
          }
        }
      }
    }
  }
  
  /************************** /HEADER **************************/