/************************** HEADER **************************/
header {
    border: 1px dashed rgba(0,0,0,0);
  
    .container {
      height: 600px;
      margin-top: 100px;
      background: linear-gradient(130deg, #E66586 0, #F09459 100%);
      flex-direction: column;
  
      nav, .header-content {
        display: flex; flex: 1;
        width: 100%; 
      }
  
      nav {
        .logo, .items, .burger {
          display: flex; flex: 1;
        }
  
        .logo {
          flex: 2;
          padding: 25px 0 0 30px;
          img {
            height: 30px;
          }
        }
  
        .items {
          flex: 9;
          justify-content: flex-end;
          align-items: center;
          transform-origin: right;
          transform: scale(0);
          animation: animateItems .3s forwards;

          li {
            float: left;
            padding-right: 35px;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: rgba(255,255,255,.8);
              transition: all .2s ease;
              font: {
                size: 13px; 
                weight: 300;
              }

              &:hover {
                color: #fff;
              }
            }
          }
        }
  
        .animateItems {animation: animateItemsR .3s forwards;}
  
        @keyframes animateItems {
          0% {transform: scale(1)}
          100% {transform: scale(0)}
        }
  
        @keyframes animateItemsR {
          0% {transform: scale(0)}
          100% {transform: scale(1)}
        }
  
        .burger {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 15px;
          opacity: 1;
  
          i {
            font-size: 20px;
            color: #fff;
  
            &:hover {cursor: pointer;}
          }
  
          .burger-x {position: absolute;}
        }
      }
  
      .header-content {
        flex: 6;
  
        .text-container { 
          display: flex; flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px;
  
          .title {
            text-align: center;
            color: #fff;
            font: {
              size: 36px;
              weight: 500;
            }
          }
  
          .subtitle {
            color: #fff;
            font: {
              size: 12px;
              weight: 300;
            }
          }
        }
  
        button {
          background: rgba(0,0,0,0);
          border: 1px solid #fff;
          padding: 10px 20px;
          border-radius: 20px;
          color: #fff;
          font-size: 15px;
          transition: all .2s ease;
  
          &:hover {
            cursor: pointer;
            border: 1px solid rgba(0,0,0,0);
            background: linear-gradient(90deg, #E66586 0, #F09459 100%);
          }
        }
      }
    }
  }
  
  /************************** /HEADER **************************/