/************************** INFO **************************/
.info-container {
    .container {
      height: auto;
  
      .address, .email, .phone {
        display: flex; 
        flex: 1;
        height: 100%;
      
        .icon {
          @extend .flex-center;
          flex: 1;
          
          i {
            border: 1px solid $light; //dont delete
            width: 60px; 
            height: 60px;
            color: $light;
            font-size: $info-icon-font-size;
            @extend .flex-center;
            transition: all 1s ease;
            border-radius: 3px;
          }
      
          &:hover {
            i {
              background: $info-icon-bg;
              border: none;
              cursor: pointer;
            }
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 2;
          color: $info-text-color;
    
          .title {
            margin: 15px 0;

            h3 {
              font: {
                size: $info-title-font-size;
                weight: $info-title-font-weight;
              }
            }
          }
          
          .description {
            p {
              font: {
                size: $info-text-font-size;
                weight: $info-text-font-weight;
              }
            }
          }
        }
      }
    }
  }

  /************************** /INFO **************************/