/************************** UNTOLD STORY **************************/

.untold-container {
  .container {
    display: flex;
    position: relative;

      .untold-left, .untold-right {
        display: flex; flex: 1;
      }

      .untold-left {
        background: linear-gradient(90deg, #E66587 0, #EB7D70 100%);

      .title-container { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;

        .title, .subtitle {
          display: flex; flex: 1;
          color: #fff;
        }

        .title {
          align-items: flex-end;
          text-align: center;
          font: {
            size: 24px;
            weight: 500;
          }
        }

        .subtitle {
          font: {
            size: 14px;
            weight: 300;
          }
        }
      }
    }

    .untold-right {
      background: url('../../images/story-bg.jpg');
      background-size: cover;
      background-position: center center;
    }

    .untold-middle {
      width: 500px; height: 300px;
      background: #fff;
      position: absolute;
      top: 23%;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-container {
        width: 60%; height: 70%;
        display: flex;
        flex-direction: column;

        .title, .button {display: flex; flex: 1;}

        .title {
          font: {
            size: 14px; 
            weight: 500;
          }
        }
        .description {
          display: flex;
          flex: 3;
          color: #777;
          font: {
            size: 14px;
            weight: 300;
          }
        }

        button {
          background: linear-gradient(90deg, #E66586 0, #F09459 100%);
          border: none;
          padding: 8px 25px;
          border-radius: 20px;
          color: #fff;
          font-size: 14px;
          transition: all .5s ease;

          &:hover {cursor: pointer;}
        }
      }
    }
  }
}

/************************** /UNTOLD STORY **************************/