html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: url('../images/body-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(230, 101, 134, 0.5);
  margin: 0;
  
}
.container {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//************************** DIANA FEATURES SECTION START **************************//
.features-container {

  .container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .address, .email, .phone {
      display: flex; flex: 1;
      height: 100%;
    }

    .icon, .text {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }


    i {
      border: 1px solid #EEEEEE; //dont delete
      width: 60px; height: 60px;
      color: #EE98A8;
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s ease;
      border-radius: 3px;
    }

    
    .icon {
      &:hover {
        i {
          background: linear-gradient(130deg, #E66586 0, #F09459 100%);
          border: none;
          cursor: pointer;
          color: #fff;
        }
      }
    }

    .text {
      flex-direction: column;
      flex: 2;
      align-items: flex-start;

      .title, .description {
        font-weight: 300;
        font-size: 14px;
      }

      .title {
        color: #222;
        font-weight: 500;
        margin: 15px 0;
      }

      .description {
        color: #777;
      }
    }
  }
}

//************************** DIANA FEATURES SECTION END **************************//

//************************** DIANA SERVICES SECTION START **************************//
  .services {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #E66586 0, #f09459 100%);
    display: flex;
    flex-direction: column;
    padding: 10% 3%;

    //TITLE CONTAINER
    .title-container { 
      display: flex; flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      //TEXT STYLES
      .title, .subtitle {
        display: flex; flex: 1;
        color: #fff;
      }

      .title {
        align-items: flex-end;
        text-align: center;
        font: {
          size: 24px;
          weight: 500;
        }
      }

      .subtitle {
        font: {
          size: 14px;
          weight: 300;
        }
      }
    }


    .services-container {
      display: flex; flex: 4;
      flex-direction: column;
      padding-top: 5%;

      .row1 {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 20px 15px;

          .image {
            background: #fff;
            position: relative;
            display: flex;
            height: 150px;
            background-size: cover!important;
            background-position: center!important;

            &:hover {
              cursor: pointer;

              .overlay {
                background-color: rgba(255,255,255,.7);
                button {opacity: 1;}
              }
            }

            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              transition: all .5s ease;
              background-color: rgba(255,255,255,0);
              display: flex;
              align-items: center;
              justify-content: center;

              button {
                opacity: 0;
                background: linear-gradient(90deg, #E66586 0, #F09459 100%);
                border: none;
                padding: 10px 20px;
                border-radius: 20px;
                color: #fff;
                font-size: 15px;
                transition: all .5s ease;

                &:hover {cursor: pointer;}
              }
            }


            .button {
              position: absolute;
              width: 100px; height: 30px;
              background: linear-gradient(90deg, #E66586 0, #F09459 100%);
              border-radius: 50px;
              align-self: center;
              left: 30%;
              display: flex;
              align-items: center; justify-content: center;
              color: #fff; 
              font-size: 12px;
              font-weight: 300;
              display: none;
              transition: all .5s ease;

              i { color: #fff; font-size: 12px; margin-left: 2px;}
            }
          }

          .text {
            flex-direction: column;
            color: #fff;
            display: flex;
            flex: 1;
            padding-top: 10px;

            .title, .description {
              display: flex; flex: 1;
              align-items: center;
              font-size: 14px;
            }

            .title {
              font-weight: 500;
              text-transform: uppercase;
            }

            .description {
              flex: 3;
              font-weight: 300;
            }
          }
        }


        // //row1
        // .item1 .image {background: url('../images/r1i1.jpg');}
        // .item2 .image {background: url('../images/r1i2.jpg');}
        // .item3 .image {background: url('../images/r1i3.jpg');}
        // .item4 .image {background: url('../images/r1i4.jpg');}
        // //row2
        // .item5 .image{background: url('../images/r2i1.jpg');}
        // .item6 .image {background: url('../images/r2i2.jpg');}
        // .item7 .image {background: url('../images/r2i3.jpg');}
        // .item8 .image {background: url('../images/r2i4.jpg');}

      }
    }
  }

  .showBtn { display: block;}

  /*responsive*/
  @media screen and (min-width: 320px) and (max-width: 425px){
    .services-container {
      .row1 {
        .item {min-width: 100%!important;}
        .item9 {display: none;}
      }
    }
  }

  @media screen and (min-width: 423px) and (max-width: 704px){
    .services-container {
      .row1 {
        .item {min-width: 50%!important;}
        .item9 {display: none;}
      }
    }
  }
  @media screen and (min-width: 705px) and (max-width: 942px){
    .services-container {
      .row1 {
        .item { min-width: 30%!important;}
      }
    }
  }
  @media screen and (min-width: 943px){
    .services-container {
      .row1 {
        .item { min-width: 25%!important;}
      }
    }
  }
//************************** DIANA SERVICES SECTION END **************************


.divider {
  width: 100%; 
  height: 20px;
  .container {background: #fff;}
}

//************************** DIANA UNTOLD STORY SECTION START **************************

.untold-container {

  .container {
    display: flex;
    position: relative;

    .untold-left, .untold-right {
      display: flex; flex: 1;
      height: 500px;
    }

    .untold-left {
      background: linear-gradient(90deg, #E66587 0, #EB7D70 100%);

      //TITLE CONTAINER
    .title-container { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 10px;

      //TEXT STYLES
      .title, .subtitle {
        display: flex; flex: 1;
        color: #fff;
      }

      .title {
        align-items: flex-end;
        text-align: center;
        font: {
          size: 24px;
          weight: 500;
        }
      }

      .subtitle {
        font: {
          size: 14px;
          weight: 300;
        }
      }
    }


    }

    .untold-right {
      background: url('../images/story-bg.jpg');
      background-size: cover;
      background-position: center center;
    }

    .untold-middle {
      width: 500px; height: 300px;
      background: #fff;
      position: absolute;
      top: 23%;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-container {
        width: 60%; height: 70%;
        display: flex;
        flex-direction: column;
        .title, .button {display: flex; flex: 1;}
        .title {
          font: {
            size: 14px; 
            weight: 500;
          }
        }
        .description {
          display: flex;
          flex: 3;
          color: #777;
          font: {
            size: 14px;
            weight: 300;
          }
        }

        button {
          background: linear-gradient(90deg, #E66586 0, #F09459 100%);
          border: none;
          padding: 8px 25px;
          border-radius: 20px;
          color: #fff;
          font-size: 14px;
          transition: all .5s ease;

          &:hover {cursor: pointer;}
        }
      }
    }
  }
}


//responsive
@media screen and (min-width: 1318px) {
  .untold-top{display: none;}
}

@media screen and (max-width: 1317px) {
  
  .untold-container {
    .container {
      height: 500px;
      background: linear-gradient(90deg, #E66586 0, #F09459 100%);
      flex-direction: column;
      
      .untold-right, .untold-left {display: none!important;}

      .untold-middle {
        width: 80%; height: auto;
        display: flex;
        flex: 1;
        position: static;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;

        .text-container {
          align-items: center;
          justify-content: center;

          .description{ text-align: center; }
        }
      }

      .untold-top {
        display: flex;
        flex: 1;

         //TITLE CONTAINER
        .title-container { 
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: 10px;

          //TEXT STYLES
          .title, .subtitle {
            display: flex; flex: 1;
            color: #fff;
          }

          .title {
            align-items: flex-end;
            text-align: center;
            font: {
              size: 24px;
              weight: 500;
            }
          }

          .subtitle {
            font: {
              size: 14px;
              weight: 300;
            }
          }
        }
      }
    }
  }
}

//************************** DIANA UNTOLD STORY SECTION END **************************



//************************** DIANA NEWSLETTER SECTION START **************************
.newsletter-container {

  .container {
    height: 337px;
    background: #fff;
    display: flex;
    flex-direction: column;

    .text-container{
      display: flex; flex: 1;
      width: 100%;
      align-items: center;
      justify-content: center;
    }


    .text-container { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 10px;

      //TEXT STYLES
      .title {
        align-items: flex-end;
        text-align: center;
        color: #222;
        font: {
          size: 24px;
          weight: 500;
        }
      }

      .subtitle {
        color: #777;
        font: {
          size: 14px;
          weight: 300;
        }
      }
    }

    .input-container {
      margin-top: 20px;

      input[type="text"] {
        width: 500px; height: 50px;
        background: #F9F9FF;
        border: none;
        border-radius: 50px;
        font-family: 'Poppins', sans-serif;
        color: #9C9C9E;
        font-size: 15px;
        font-weight: 300;
        padding: 8px 0;
        padding: 0 150px 0 8px;
      }

      button {
        margin-left: -143px;

        background: linear-gradient(90deg, #E66586 0, #F09459 100%);
        border: none;
        padding: 14px 25px;
        border-radius: 20px;
        color: #fff;
        font-size: 14px;
        transition: all .5s ease;

        &:hover {cursor: pointer;}

      }
    }
  }
}

//************************** DIANA NEWSLETTER SECTION END **************************


//************************** DIANA INFO SECTION START **************************//

.info-container {

  .container {
    height: 340px;
    display: flex;

    .address, .email, .phone {
      display: flex; flex: 1;
      height: 100%;
    }

    .icon, .text {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }


    i {
      border: 1px solid #fff; //dont delete
      width: 60px; height: 60px;
      color: #fff;
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s ease;
      border-radius: 3px;
    }

    
    .icon {
      &:hover {
        i {
          background: linear-gradient(130deg, #E66586 0, #F09459 100%);
          border: none;
          cursor: pointer;
        }
      }
    }

    .text {
      flex-direction: column;
      flex: 2;
      color: #fff;
      align-items: flex-start;

      .title, .description {
        font-weight: 300;
        font-size: 14px;
      }

      .title {
        font-weight: 500;
        margin: 15px 0;
      }
    }
  }
}

//************************** DIANA INFO SECTION END **************************//


